@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfcff;
  --foreground: #1c192b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #00FF41;
  }
}

/* Explicitly support the .dark class */
.dark {
  --background: #000000;
  --foreground: #00FF41;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
