@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Lilac fusion (Light Mode) */
  --background: #f3e8ff; /* pastel lilac/purple background */
  --foreground: #1c192b; /* dark text */
}

/* Explicitly support the .dark class */
.dark {
  /* Black and Green fusion (Dark Mode / Hall) */
  --background: #000000;
  --foreground: #00FF41;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
